
<section class="container">
  <div class="login">
    <h3>Iniciar Sesión</h3>
    <h5>Inicia sesión como dealer o editorial</h5>
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
<p><input type="text" name="username" placeholder="Ingresa tu email" id="username" ngModel></p>
<p><input type="password" name="password" placeholder="Ingresa tu contraseña" id="password" ngModel></p>
<p><button type="submit">Login</button></p>
<p class="remember_me">
    <label>
      <input type="checkbox" name="remember_me" id="remember_me">
      Recuerdame en este computador
    </label>
  </p>
</form>
</div>
</section>