<div class="content">
  <div class="breadcrumb-container">
    <div class="container">
      <ul class="breadcrumb pull-left">
          <li><a href="home">Home</a></li>
          <li><a href="">{{libroID.titulo}}</a></li>
      </ul><!-- /.breadcrumb -->
  </div><!-- /.container -->
</div><!-- /.breadcrumb-container -->
    
<div class="book-detail page">
  <div class="container">
    <div class="primary-block clearfix">

      <div class="row">
        <div class="col-sm-4">
          <div class="book-cover book detail-book-cover">
            <img src="{{libroID.imagenURL}}" class="img-responsive" data-echo="assets/images/books/detail-book.jpg" alt="">
            <div class="fade"></div>
          </div><!-- /.book-cover -->
        </div><!-- /.col -->
    
        <div class="col-sm-8">
          <div class="book-detail-header">
            <h2 class="book-title">{{libroID.titulo}}</h2>
            <p class="book-author">Por <span class="book-author-name">{{libroID.autor.nombre}}</span></p>
        <div class="star-rating">
          <i class="fa fa-star color"></i>
          <i class="fa fa-star color"></i>
          <i class="fa fa-star color"></i>
          <i class="fa fa-star color"></i>
          <i class="fa fa-star"></i>
        </div><!-- /.star-rating -->    
      </div><!-- /.book-detail-header -->
    
      <div class="book-detail-body">
        <div class="detail-cart-button row clearfix">
          <div class="pull-left col-md-6 col-sm-5 col-xs-12">
            <div class="detail-book-price">
              <span class="price">$ {{libroID.precio}}</span>
            </div><!-- /.detail-book-price -->
          </div><!-- /.pull-left -->
          <div class="pull-right col-md-6 col-sm-7 col-xs-12">
            <div class="row product-actions" *ngIf="logueado">
              <button class="col-sm-6 btn btn-primary btn-addToCart" type="button" (click)="addProductToCart(libroID)"><i class="icon-plus fa fa-plus-circle"></i>Comprar</button>
              <div class="quantity book-detail-quantity col-xs-4 col-lg-3">  
                <div class="quantity-block">          
                  <div class="quant-input">
                    <div class="arrows">
                      <div class="arrow plus gradient"><span class="ir"></span>
                      </div>
                      <div class="arrow minus gradient"><span class="ir"></span>
                      </div>
                    </div><!-- /.arrows -->
                    <input class="txt-quantity" type="text" value="1"/>
                  </div><!-- /.quant-input -->  
                </div><!-- /.quantity-block -->                             
              </div><!-- /.col -->   
              <button title="favourite" class="hidden-xs btn btn-secondary btn-add-to-wishlist col-xs-2 " type="button"><span class="icon glyphicon glyphicon-heart"></span></button>
            </div><!-- /.row -->
          </div><!-- /.pull-right -->
        </div><!-- /.detail-cart-button -->
    
        <div class="clearfix">
        </div>
        <div class="product-description">
          <h3>Descripción</h3>
          <p>{{libroID.descripcion}}</p>
        </div><!-- /.product-description --> 
      </div><!-- /.book-detail-body -->
    </div><!-- /.col -->
  </div><!-- /.row -->
    
  <div class="tab-holder clearfix">
    <div class="book-additional-details">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs book-detail-tab">
        <li class="active" role="presentation"><a href="#more" data-toggle="tab">Más acerca del libro</a></li>
        <li role="presentation"><a href="#product-details" data-toggle="tab">Detalles del Producto</a></li>
        <li role="presentation"><a href="#shipping" data-toggle="tab">Editorial</a></li>
        <li role="presentation"><a href="#first-chapter" data-toggle="tab">Primer Capítulo</a></li>
    </ul><!-- /.nav -->
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="more" role="tabpanel">
          <h3>{{libroID.titulo}}</h3>
          <p>{{libroID.descripcion}}</p>
      </div><!-- /.tab-pane -->

      <div class="tab-pane" id="product-details" role="tabpanel">
        <ul class="list-unstyled list-kybook uppercase">
            <li>Genero: {{libroID.genero.tipo}}</li>
            <li>Autor: {{libroID.autor.nombre}}</li>
            <li>Año: {{libroID.ano}}</li>
            <li>Precio: ${{libroID.precio}}</li>
    
        </ul>
      </div>
    
      <div class="tab-pane" id="shipping" role="tabpanel">
          <h3>Nombre Editorial</h3>
          <li>{{libroID.editorial.nombre}}</li>
          <h3>Contacto</h3>
          <li>{{libroID.editorial.correo}}</li>
      </div><!-- /.tab-pane -->
    
      <div class="tab-pane" id="first-chapter" role="tabpanel">
          <h3>Consectetur adipisicing elit, sed do eiusmod</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis.</p>
          <p>Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan.Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</p>
      </div><!-- /.tab-pane -->
    </div><!-- /.tab-content -->
  </div><!-- /.book-additional-details -->
</div><!-- /.col -->