     <!-- .slider -->
     <div class="slider">
            <!-- ========================================== SECTION – HERO : END========================================= -->
            <div id="hero">
                <div id="owl-main" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="container">
                            <div class="content caption">
                                <div class="row">
                                    <div class="col-sm-5 col-sm-push-7">
                                        <div class="book-in-shelf">
                                            <div class="book-shelf"> 

                                                <div class="book-cover slider-book-cover">
                                                    <img class="img-responsive" alt="" src="http://t2.gstatic.com/images?q=tbn:ANd9GcS8UNqPTc6FSKpbNA_i7doDmb3c8j5i_jtaaKgDH0oWc8cA0uur" width="258" height="351"> 
                                                    <div class="fade"></div>
                                                </div> <!-- /.book-cover -->                        
                                            </div><!-- /.book-shelf -->
                                        </div><!-- /.book-in-shelf -->
                                    </div><!-- /.col -->

                                    <div class="col-sm-7 col-sm-pull-5">
                                        <div class="clearfix slider-caption">
                                            <div class="slider-caption-heading">
                                                <h1 class="slider-caption-title fadeInDown-1">El resplandor</h1>
                                                <p class="slider-caption-subtitle fadeInDown-2 hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim</p>
                                            </div><!-- /.slider-caption-heading -->
                                            <div class="clearfix slider-price fadeInDown-3 hidden-xs">
                                                <a class="btn btn-secondary btn-price" href="category.html">$ 29.990</a>
                                            </div> <!-- /.slider-price -->
                                        </div><!-- /.slider-caption -->
                                    </div><!-- /.col -->


                                </div><!-- /.row -->

                            </div><!-- /.content.caption -->
                        </div><!-- /.container -->
                    </div><!-- /.item -->

                    <div class="item">
                        <div class="container">
                            <div class="content caption">
                                <div class="row">
                                    <div class="col-sm-5 col-sm-push-7">
                                        <div class="book-in-shelf">
                                            <div class="book-shelf"> 

                                                <div class="book-cover slider-book-cover">
                                                    <img class="img-responsive" alt="" src="http://t3.gstatic.com/images?q=tbn:ANd9GcSeS0uWmmfLlxApVMe9w3mZZhyfVIBcPDImcLbOTxzsDTADkz8n" width="258" height="351"> 
                                                    <div class="fade"></div>
                                                </div> <!-- /.book-cover -->                        
                                            </div><!-- /.book-shelf -->
                                        </div><!-- /.book-in-shelf -->
                                    </div><!-- /.col -->

                                    <div class="col-sm-7 col-sm-pull-5">
                                        <div class="clearfix slider-caption">
                                            <div class="slider-caption-heading">
                                                <h1 class="slider-caption-title fadeInDown-1">El gato negro</h1>
                                                <p class="slider-caption-subtitle fadeInDown-2 hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim</p>
                                            </div><!-- /.slider-caption-heading -->
                                            <div class="clearfix slider-price fadeInDown-3 hidden-xs">
                                                <a class="btn btn-secondary btn-price" href="">$ 6.990</a>
                                            </div> <!-- /.slider-price -->
                                        </div><!-- /.slider-caption -->
                                    </div><!-- /.col -->
                                </div><!-- /.row -->

                            </div><!-- /.content.caption -->
                        </div><!-- /.container -->
                    </div><!-- /.item -->

                    <div class="item">
                        <div class="container">
                            <div class="content caption">
                                <div class="row">
                                    <div class="col-sm-5 col-sm-push-7">
                                        <div class="book-in-shelf">
                                            <div class="book-shelf"> 

                                                <div class="book-cover slider-book-cover">
                                                    <img class="img-responsive" alt="" src="http://t2.gstatic.com/images?q=tbn:ANd9GcQ2IEjQlcVz6e-pOsZMul7YBERpQVmeKC74StYtkqNfMEatiiWp" width="258" height="351"> 
                                                    <div class="fade"></div>
                                                </div> <!-- /.book-cover -->                        
                                            </div><!-- /.book-shelf -->
                                        </div><!-- /.book-in-shelf -->
                                    </div><!-- /.col -->

                                    <div class="col-sm-7 col-sm-pull-5">
                                        <div class="clearfix slider-caption">
                                            <div class="slider-caption-heading">
                                                <h1 class="slider-caption-title fadeInDown-1">It</h1>
                                                <p class="slider-caption-subtitle fadeInDown-2 hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim</p>
                                            </div><!-- /.slider-caption-heading -->
                                            <div class="clearfix slider-price fadeInDown-3 hidden-xs">
                                                <a class="btn btn-secondary btn-price" href="">$ 19.990</a>
                                            </div> <!-- /.slider-price -->
                                        </div><!-- /.slider-caption -->
                                    </div><!-- /.col -->
                                </div><!-- /.row -->

                            </div><!-- /.content.caption -->    
                        </div><!-- /.container -->
                    </div><!-- /.item -->
                </div><!-- /#owl-main -->

        

            </div>




        </div><!-- /.slider -->
        <!-- /.slider -->
