<!-- ============================================================= HEADER ============================================================= -->
<header class="header">
  <!-- ============================================================= NAVBAR TOPBAR ============================================================= -->
  <nav class="navbar navbar-top-bar navbar-static-top">
    <div class="container">
      <ul class="navbar-nav nav">
        <li><a href="/home">Home</a></li>
      </ul><!-- /.navbar-nav -->

      <ul class="navbar-nav nav navbar-right">
          <li><a href="catalogo">Libros</a></li>
        <li><a href="dealers">Dealers</a></li>
        <li><a href="login">Login</a></li>
        <li ><a href="/home" (click)="logout()">Salir</a></li>
        <li class="active" *ngIf="logueado"><a href="cart">Total : $0</a></li>
        <a *ngIf="logueado" href="cart" class="navbar-btn btn btn-cart"><img src="assets/images/shopping-cart.png" alt="" /><span class="badge-cart-items-count"></span></a>
      </ul><!-- /.navbar-nav -->
    </div><!-- /.container-->
  </nav><!-- /.navbar-->
      <!-- ============================================================= NAVBAR TOPBAR : END ============================================================= --> 

  
