<div class="wrapper">
    <div class="content">
        <div class="breadcrumb-container">
            <div class="container">
                <ul class="breadcrumb pull-left">
                    <li><a href="home">Home</a></li>
                    <li class="active">Dealers</li>
                </ul><!-- /.breadcrumb -->
            </div><!-- /.container -->
        </div><!-- /.breadcrumb-container -->
    
        <div class="category page">
            <div class="container">
                <div class="page-header category-page-header">
                    <h2 class="page-title">Buscador de Dealers</h2>
                    <p class="page-subtitle">Busca tu dealers mas cercanos y aprovecha el catálogo que tiene para ti</p>
                </div><!-- /.page-header -->
    
            <div class="page-body">
                <div class="row">
                <!-- ========================================= CONTENT ========================================= -->
                    <div class="col-sm-8 col-sm-push-4">
                        <div class="category-toolbar">
                            <div class="row">
                                    <div class="col-md-2 col-sm-4">
                                        <select (change)="onChange($event.target.value)" style="width:120px;  background-color: #21B68E;border-color: #21B68E;height:50px;color:aliceblue;font-size:12pt">
                                            <option selected="selected"  value="Ciudad" style="color:aliceblue">Ciudad</option>
                                            <option value="{{ciudad.nombre}}" (click)="getDealerCiudad()" style="color:aliceblue" *ngFor="let ciudad of ciudades">{{ciudad.nombre}}</option>    
                                        </select>
                                    </div><!-- /.col --> 
                                <div class="col-md-3 col-sm-4">
                                    <ul id="myTab" class="nav nav-tabs grid-list-view-buttons" role="tablist">
                                        <li role="presentation" class="active"><a href="#grid" class="btn navbar-btn" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-th active"></span></a></li>
                                        <li role="presentation"><a href="#list" class="btn navbar-btn" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-th-list"></span></a></li>
                                    </ul><!-- /.nav -->
                                </div><!-- /.col -->
    


                                
                            </div><!-- /.row -->
                    </div><!-- /.category-toolbar -->
    
                                <div class="tab-content">
                                    <div class="tab-pane active  wow fadeInUp" id="grid" role="tabpanel">
                                        <div class="category-books books grid-view">
                                            <div class="row" >
                                                <div class="col-md-4 col-sm-6" *ngFor="let dealer of dealers">
                                                    <div class="book">      

        
        
                                                        <div class="book-details">
                                                            <h4 class="book-title"><a href="/perfil/0/{{dealer.id}}" (click)="goToBookDetail(libro.id)">{{dealer.nombre}}</a></h4>
                                                            <a>{{dealer.correo}}</a>
                                                            <p class="book-author">{{dealer.fono}}</p>
                                                        </div><!-- /.book-details -->
                                                    </div><!-- /.book -->
                                                </div>
                                            </div>
                                        </div><!-- /.category-books -->
                                    </div><!-- /.tab-pane -->
    
                                    <div class="tab-pane wow fadeInUp" id="list" role="tabpanel">
                                    
                                    
                                      <div class="featured-book">
                                        <div class="books clearfix">
                                            <div class="row">

                                                <div class="col-md-8 col-sm-7" *ngFor="let dealer of dealers">
                                                    <div class="book-details book-details-list-view">
                                                        <h3 class="book-title">
                                                            <a href="detail.html">{{dealer.nombre}}</a>
                                                        </h3>
                                                            <a href="detail.html">{{dealer.correo}}</a>
                                                            <p class="book-author">{{dealer.fono}}</p>
                              
                                                    </div><!-- /.book-details -->

                                                    <div class="featured-book-content">
                                                        <p class="hidden-sm hidden-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. </p>

                                                    </div><!-- /.featured-book-content -->
                                                </div><!-- /.col -->
                                            </div><!-- /.row -->
                                        </div><!-- /.books -->
                                    </div><!-- /.row -->
</div>


                                </div><!-- /.tab-content -->
                            </div><!-- /.col -->
<!-- ========================================= CONTENT :END ========================================= -->
    
<!-- ========================================= SIDEBAR ========================================= -->
                            <div class="col-sm-4 col-sm-pull-8">
                                <aside class="sidebar">
                                <!-- ========================================= BOOK CATEGORY ========================================= -->
                                <section class="module">
                                    <header class="module-header">
                                        <h5 class="module-book-category-title">Regiones </h5>
                                    </header><!-- /.module-header -->
    
                                    <div class="module-body category-module-body">
                                        <ul class="list-unstyled category-list" >
                                            <li><a (click)="getAllDealer()">Todos</a></li>
                                            <li *ngFor="let region of regiones"><a (click)="searchRegion(region)">{{region.nombre}}</a></li>
                                        </ul><!-- /.list-unstyled -->
                                    </div><!-- /.module-body -->
                                </section><!-- /.module -->



                                                <!-- ========================================= BOOK CATEGORY : END ========================================= -->                    
                                </aside><!-- /.sidebar -->
                            </div><!-- /.col -->

                                            <!-- ========================================= SIDEBAR :END ========================================= -->
                                        </div><!-- /.row -->
                                    </div><!-- /.page-body -->
                                </div><!-- /.container -->
    
                                </div><!-- /.category page -->
    
                            <a class="scrollup hidden-xs hidden-sm" href="" style="display: none;"><img src="assets/images/top-scroll.png" alt="" ></a>
                        </div>
    
                        
                       
    
                                        <!-- ============================================================= FOOTER : END ============================================================= -->    </div><!-- /.wrapper -->
